@import "@/app/utils/variables.scss";

.top-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: $gray-text-color;
  color: $white-text-color;
  border: 1px solid $dark-text-color;
  border-radius: 3px;
  transition: background-color 0.5s;
  opacity: 0;
  &:hover {
    background-color: $highlight-color;
    color: $white-text-color;
    border: 1px solid $dark-text-color;
  }
  &.visible {
    display: block;
    opacity: 1;
  }
}
