@import "../../utils/variables.scss";

.filter {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__categories {
    width: 100%;
    background-color: $secondary-text-color;

    @media (min-width: 768px) {
      width: 30%;
    }
  }

  &__query {
    width: 100%;
  }

  &__error {
    margin: auto;
    padding: 60px;
  }
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: $secondary-text-color;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: $highlight-color;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  pointer-events: none;
}

.css-mrof74 {
  margin-bottom: 30px;
}
