@import "../../utils/variables.scss";

.filter {
  gap: 8px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__categories {
    width: 100%;
    background-color: $secondary-text-color;
    @media (min-width: 768px) {
      width: 30%;
    }
  }
  &__query {
    width: 100%;
  }
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: $secondary-text-color;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: $highlight-color;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  pointer-events: none;
}
