@import "@/app/utils/mixins.scss";
@import "@/app/utils/variables.scss";

.post {
  @include flexCenter;

  &__image {
    max-width: 1200px;
    max-height: 630px;
  }
  &__body {
    @include flexCenter;
    padding: 16px 0;
  }

  &__title {
    font-size: 42px;
  }
  &__description {
    font-size: 22px;
    margin-top: 16px;
  }
}

.userinfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;

  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

.tags {
  display: flex;
  gap: 20px;
  padding: 15px;
  border-top: 2px solid $dark-text-color;

  &__title {
    padding: 5px 10px;
    border: 2px solid $highlight-color;
    border-radius: 5px;
  }
}

.post-error {
  padding: 50px 0;
}
